<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE section PUBLIC "-//OASIS//DTD DITA Topic//EN" "technicalContent/dtd/topic.dtd">
<section id="workitems-summary">
    <title>Work Items Summary</title>
    <table>
        <tgroup cols="2">
            <colspec colwidth="1*" colname="col_1"></colspec>
            <colspec colwidth="4.2*" colname="col_2"></colspec>
            <thead>
                <row>
                    <entry><b>ID</b></entry>
                    <entry><b>Summary</b></entry>
                </row>
            </thead>
            <tbody>
                #foreach(${issue} in ${konnect_data.data})
                 #foreach ($entry in $issue.fields.entrySet()) 
                  #if($entry.key == "System.Title")
                    <row>
                        <entry>${issue.id}</entry>
                        <entry>${entry.value}</entry>
                    </row>
                #end
                #end
                #end
            </tbody>
        </tgroup>
    </table>
</section>
